*.log
*.log.*
node_modules/
.sass-cache
.netrc
release/
dist/
sandbox/
coverage/
dll/

# BurgerStack Ignored
config/env/local-*.ts
docker-env/mongo
docker-env/postgres/data
docker-env/redis/data

# Compiled Files
